<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PlanningPorker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/javascripts/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/perfect-scrollbar-0.4.5.with-mousewheel.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.autofit.js"></script>
    <script type="text/javascript" src="/javascripts/moment.js"></script>
    <script type="text/javascript" src="/javascripts/moment.lang_ja.js"></script>
    <script type="text/javascript" src="/javascripts/livestamp.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.decora.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.caret.js"></script>
    <script type="text/javascript" src="/javascripts/difflib.js"></script>
    <script type="text/javascript" src="/javascripts/diffview.js"></script>
    <script type="text/javascript" src="/javascripts/client.js"></script>

    <link href="/stylesheets/perfect-scrollbar-0.4.5.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/diffview.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/emolett.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/devhub.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>

  <body id="body-main" style="padding-top: 0px">
    <div class="modal hide" id="name_in">
      <div class="modal-header">
        <h3>PlanningPorker</h3>
      </div>
      <div class="modal-body">
        <p>Please type your name.</p>
        <form id="login_form">
          <input type="text" id="login_name" class="span2" placeholder="Name"/>
        </form>
      </div>
      <div class="modal-footer">
        <button id="login" class="btn btn-primary">Login</button>
      </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <a class="navbar-brand" href="#">PlanningPorker</a>
      <form class="navbar-form navbar-left" id="form" role="search">
        <div class="form-group">
          <input type="text" name="name" id="name" class="form-control" placeholder="Name">
        </div>
      </form>
    </div>

    <div class="row">
      <div id="chat_area" class="col-xs-12">
        <div class="area-inner">
          <div class="dummy-top-space"></div>
          <img id="login_list_loader" src="/img/loader.gif"/>
          <div id="login_list" style="display:none"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="area-inner">
          <div class="number-list">
            <ul>
              <li><button type="button" class="btn btn-default">0</button></li>
              <li><button type="button" class="btn btn-default">1</button></li>
              <li><button type="button" class="btn btn-default">2</button></li>
              <li><button type="button" class="btn btn-default">3</button></li>
              <li><button type="button" class="btn btn-default">5</button></li>
              <li><button type="button" class="btn btn-default">8</button></li>
              <li><button type="button" class="btn btn-default">10</button></li>
              <li><button type="button" class="btn btn-default">Big</button></li>
              <li><button type="button" class="btn btn-default">?</button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="memo_area" class="col-xs-12 memo-area">
        <div class="area-inner">
          <div id="share-memo">
          </div>
          <footer>
          <span>© 2014 Naoki KODAMA. All rights reserved.</span>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>


